<div class="row" style="color: black;">
    <div class="col-3">
            <img src="assets\Iphone.jfif">  
            <h6 > Iphone</h6> <h6 >₹50000</h6>
    </div>
    <div class="col-3">
            <img src="assets\Lenovo.jfif"> <h6> Lenovo</h6> <h6>₹1500</h6>
    </div>
    <div class="col-3">
            <img src="assets\Nokia.jfif"> <h6> Nokia</h6> <h6>₹1700</h6>
    </div>
    <div class="col-3">
            <img src="assets\Samsung.jfif"> <h6> Samsung</h6> <h6>₹8000</h6>
    </div>
  </div>
  
  
  
  
  <div class="row" style="color: black;">
        <div class="col-3">
                <img src="assets\Vivo.jfif"> <h6> Vivo</h6> <h6>₹17000</h6>
        </div>
        <div class="col-3">
                <img src="assets\Samsung.jfif"> <h6> Redmi</h6> <h6>₹14000</h6>
        </div>
        <div class="col-3">
                <img src="assets\Lenovo.jfif"> <h6> Vivo V5</h6> <h6>₹18000</h6>
        </div> 
        <div class="col-3">
                <img src="assets\Iphone.jfif"> <h6> Iphone</h6> <h6>₹40000</h6>
        </div>
    </div>
